<!DOCTYPE html>
<html>
    {% load static %}
  <head>
  <title>{{ template_data.title }}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous">
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
<!-- Sidebar -->
 <div class="d-flex">
    <nav class="sidebar d-flex flex-column align-items-center">
      <div class="testsvg d-flex align-items-center justify-content-center">
        <a href="{% url 'Rhome.index' %}" class="d-flex align-items-center">
          <img src="{% static 'img/Logo.svg' %}" width="100%" height="100%" alt="">
        </a>
      </div>
      <hr>
      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <div class="test d-flex align-items-center justify-content-center">
          <a href="{% url 'Rhome.postjobs' %}" class="nav-link">Post Jobs</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="test d-flex align-items-center justify-content-center">
          <a href="{% url 'Rhome.searchcandidates' %}" class="text-center nav-link">Search candidates</a>
          </div>
        </li>
        <li class="">
          <div class="test d-flex align-items-center justify-content-center">
          <a href="{% url 'Rhome.organizeapplicants' %}" class="text-center nav-link">Organize Applicants</a>
          </div>
        </li>
      </ul>
      <hr>
      <div class="nav flex-column test2">
        <div class="nav-item test d-flex align-items-center justify-content-center">
          <a href="#" class="nav-link">Settings</a>
        </div>
        <div class="test d-flex align-items-center justify-content-center">
            {% if user.is_authenticated %}
            <div class="text-center">
            <a class="nav-link"
              href="{% url 'accounts.logout' %}">Logout, {{user.username }}?</a>
            </div>
            {% else %}
            <a class="nav-link"
              href="{% url 'accounts.login' %}">Login</a>
            {% endif %}
        </div>

        
      </div>
    </nav>
    <!-- Main content -->
     <div class="main-content">
    {% block content %}
    {% endblock content %}
    </div>
    <!-- Main content -->
<!-- Sidebar -->
</body>
</html>