{% extends template_data.base_template|default:base_template %}
{% load static %}
{% block content %}
<div class="container py-4">
  <h1>{{ template_data.profile_user.username }}'s Profile</h1>
  {% if template_data.profile_user.show_headline %}
  <h4>Contact</h4>
  <a href="mailto:{{ template_data.profile_user.email }}">{{ template_data.profile_user.email }}</a>
  {% endif %}

  {% if template_data.profile_user.show_headline %}
  <h4>Headline</h4>
  <p>{{ template_data.profile_user.headline }}</p>
  {% endif %}

  {% if template_data.profile_user.show_skills %}
  <h4>Skills</h4>
  <p>{{ template_data.profile_user.skills|linebreaks }}</p>
  {% endif %}

  {% if template_data.profile_user.show_education %}
  <h4>Education</h4>
  <p>{{ template_data.profile_user.education|linebreaks }}</p>
  {% endif %}

  {% if template_data.profile_user.show_work_experience %}
  <h4>Work Experience</h4>
  <p>{{ template_data.profile_user.work_experience|linebreaks }}</p>
  {% endif %}

  {% if template_data.profile_user.show_location %}
  <h4>Location</h4>
  <p>{{ template_data.profile_user.location }}</p>
  {% endif %}

  {% if template_data.profile_user.show_links %}
  <h4>Links</h4>
    {% if template_data.links_list %}
      <ul>
        {% for l in template_data.links_list %}
          <li><a href="{{ l.href }}" target="_blank" rel="noopener noreferrer">{{ l.text }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No links provided.</p>
    {% endif %}
  {% endif %}

</div>
{% endblock content %}