{% extends template_data.base_template|default:base_template %}
{% load static %}
{% block content %}
<div class="container py-4">
  <h1 style = "text-align: center">{{ template_data.profile_user.username }}'s Profile</h1>
  
  <hr>

  <h4>Name</h4>
  {% if template_data.profile_user.fname or template_data.profile_user.lname %}
  <ul>
    <li><p>{{ template_data.profile_user.fname }} {{ template_data.profile_user.lname }}</p></li>
  </ul>
  {% else %}
  <p>No name provided.</p>
  {% endif %}

  <h4>Contact</h4>
  <ul>
    <li><a href="mailto:{{ template_data.profile_user.email }}">{{ template_data.profile_user.email }}</a></li>
  </ul>

  {% if template_data.profile_user.show_headline %}
  <h4>Headline</h4>
  {% if template_data.profile_user.headline %}
  <ul>
   <li><p>{{ template_data.profile_user.headline }}</p></li>
  </ul>
  {% else %}
  <p>No headline provided.</p>
  {% endif %}
  {% endif %}

  {% if template_data.profile_user.show_skills %}
  <h4>Skills</h4>
  {% if template_data.profile_user.skills %}
  <ul>
    <li><p>{{ template_data.profile_user.skills|linebreaks }}</p></li>
  </ul>
  {% else %}
  <p>No skills provided.</p>
  {% endif %}
  {% endif %}

  {% if template_data.profile_user.show_education %}
  <h4>Education</h4>
  {% if template_data.education_list %}
    <ul>
      {% for line in template_data.education_list %}
        <li>{{ line }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No education provided.</p>
  {% endif %}
  {% endif %}

  {% if template_data.profile_user.show_work_experience %}
  <h4>Work Experience</h4>
  {% if template_data.work_list %}
    <ul>
      {% for line in template_data.work_list %}
        <li>{{ line }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No work experience provided.</p>
  {% endif %}
  {% endif %}

  {% if template_data.profile_user.show_location %}
  <h4>Location</h4>
  {% if template_data.profile_user.location %}
  <ul>
    <li><p>{{ template_data.profile_user.location }}</p></li>
  </ul>
  
  {% else %}
  <p>No location provided.</p>
  {% endif %}
  {% endif %}

  {% if template_data.profile_user.show_links %}
  <h4>Links</h4>
    {% if template_data.links_list %}
      <ul>
        {% for l in template_data.links_list %}
          <li><a href="{{ l.href }}" target="_blank" rel="noopener noreferrer">{{ l.text }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No links provided.</p>
    {% endif %}
  {% endif %}

</div>
{% endblock content %}