{% extends base_template %}
{% block content %}
<header class="masthead bg-index text-black text-centerpy-4">
<div class="container d-flex align-items-center flex-column pt-2">
    <h1>Jobble</h1>
    <p>Your Ticket to Unlimited Jobs/Candidates!</p>
</div>
</header>
<div class="p-3">
    <div class="container">
    <div class="row mt-3">
    <div class="col mx-auto text-center mb-3">
        <h4>Welcome to the best job store!!</h4>
    </div>
    </div>
</div>
</div>
</header>
<div class="p-3">
    <div class="container">
    <div class="row mt-3">
    <div class="col mx-auto text-center mb-3">
        <h4>Recommendations</h4>
    </div>
    </div>
</div>
</div>

<div class="container p-3">
  <div class="row">
    {% for job in jobs %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">{{ job.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ job.location }}</h6>

            <p class="card-text">
              <strong>Salary:</strong> {{ job.salary_display }} <br>
              <strong>Work Type:</strong> {{ job.get_remote_or_onsite_display }} <br>
              <strong>Visa Sponsorship:</strong> {{ job.get_visa_sponsorship_display }} <br>
              <strong>Skills:</strong> {{ job.skills }} <br>
              <strong>Posted by:</strong> {{ job.posted_by.username }} <br>
              <small class="text-muted">{{ job.date_posted|date:"M d, Y" }}</small>
            </p>
          </div>
        </div>
      </div>
    {% empty %}
      <p>There are currently no jobs available.</p>
    {% endfor %}
  </div>
 </div> 
{% endblock content %}