{% extends base_template %}
{% load static %}

{% block content %}
<div class="container py-4">
  <h1 class="mb-4">Job Postings</h1>
  <div class="row">

	<!-- Search input form -->
	<form action="{% url 'home.jobs' %}" method="get">
    <input name="titlequery" type="text" placeholder="Job Title..."
           value="{{ request.GET.titlequery }}">
    
    <input name="locationquery" type="text" placeholder="Location..."
           value="{{ request.GET.locationquery }}">
    
    <input name="skillsquery" type="text" placeholder="Skills..."
           value="{{ request.GET.skillsquery }}">

    <select name="remote" id="remote">
        <option value="">Remote/On-site</option>
        <option value="onsite" {% if request.GET.remote == "onsite" %}selected{% endif %}>On-site</option>
        <option value="hybrid" {% if request.GET.remote == "hybrid" %}selected{% endif %}>Hybrid</option>
        <option value="remote" {% if request.GET.remote == "remote" %}selected{% endif %}>Remote</option>
    </select>

    <select name="visa" id="visa">
        <option value="">Visa Sponsorship</option>
        <option value="yes" {% if request.GET.visa == "yes" %}selected{% endif %}>Yes</option>
        <option value="no" {% if request.GET.visa == "no" %}selected{% endif %}>No</option>
    </select>

    <input type="number" name="minsalary" id="minsalary" placeholder="minsalary"
           value="{{ request.GET.minsalary }}">
    <input type="number" name="maxsalary" id="maxsalary" placeholder="maxsalary"
           value="{{ request.GET.maxsalary }}">

    <button type="submit">Search</button>
</form>
    <a href="{% url 'home.jobs' %}">Reset</a>

	<!-- Search input form -->

	<!-- Job post cards -->
    {% for job in jobs %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">{{ job.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ job.location }}</h6>

            <p class="card-text">
              <strong>Salary:</strong> {{ job.salary_display }} <br>
              <strong>Work Type:</strong> {{ job.get_remote_or_onsite_display }} <br>
              <strong>Visa Sponsorship:</strong> {{ job.get_visa_sponsorship_display }} <br>
              <strong>Skills:</strong> {{ job.skills }} <br>
              <strong>Posted by:</strong> {{ job.posted_by.username }} <br>
              <small class="text-muted">{{ job.date_posted|date:"M d, Y" }}</small>
            </p>
          </div>
        </div>
      </div>
    {% empty %}
      <p>There are currently no jobs available.</p>
    {% endfor %}
	<!-- Job post cards -->

  </div>
</div>
{% endblock content %}